# vim: ft=conf
http.cors.enabled=true
http.cors.allow-origin=https://app.elasticvue.com,http://127.0.0.1:3012,http://localhost:3012
http.cors.allow-headers=X-Requested-With,Content-Type,Content-Length,Authorization
http.cors.allow-credentials=true

discovery.type=single-node
node.name=es01

# xpack.security.enabled=true
xpack.security.transport.ssl.enabled=false
xpack.security.http.ssl.enabled=false

ELASTIC_PASSWORD=esss
ES_JAVA_OPTS=-Xmx1g -Xms1g
